html, body {
	margin: 0;
}

body {
  background: #e6ecf0;
  font-family: 'Roboto', sans-serif;
}

.tweet {
  max-width:490px;
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  border-radius:3px;
  padding: 30px;
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
}

.tweet-trump {
  color: rgba(0, 0, 0, 0.5);
}

.tweet-text {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1em;
  font-weight: 400;
}

.tweet-meta {
  font-size: 0.8em;
  display: flex;
  margin-top: 10px;
}

.tweet-meta div {
  display: flex;
  margin-right: 20px;
}

.tweet-meta div svg {
  color:#657786;
  margin-right: 10px;
  height: 80%;
}

#search-fields {
	background: white;
	padding: 120px 0; 
}

form {
	margin: 0 auto;
	max-width: 900px;
}

#searchword {
	text-align: center;
	font-size: 1.5em; 
	margin: 0 0 80px 0; 
}

#searchword input {
	font-size: 1em;
	border: none;
	border-bottom: 1px solid black;
}

.arrow {
	width: 100%;
	text-align: center;
}

.arrow i {
	border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.stick {
	padding: 8px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: white;
	height: 20px;
	-webkit-box-shadow: 0px 18px 6px -8px rgba(0,0,0,0.08); 
	box-shadow: 0px 18px 6px -8px rgba(0,0,0,0.08);
}
